/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding: 200px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;

  background-image: url("https://mountainhouse.com/cdn/shop/articles/treeline_at_dusk_covered_in_snow_featured_1024x.jpg?v=1596235518https://voca-land.sgp1.cdn.digitaloceanspaces.com/0/1757670746507/fe21b24b.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  background-color: rgb(75, 171, 255);
}

/* Component Styles */
.badge {
  background-color: red;
  color: white;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;

  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 200px auto 30px;
  padding: 20px;
  background-color: rgb(95, 176, 252);
}

pre {
  background: #f1f1f1;
  padding: 10px;
  overflow-x: auto;
  border-left: 4px solid crimson;
  border-radius: 8px;
}

code {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 2px 4px;
}

.card {
  background-color: rgb(255, 255, 255);
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 10px;
}

.card.module-1 {
  border-top: 4px solid red;
}

.card.module-2 {
  border-top: 4px solid orange;
}

.card.module-3 {
  border-top: 4px solid yellow;
}

.card.module-4 {
  border-top: 4px solid yellowgreen;
}

.card.module-5 {
  border-top: 4px solid cyan;
}

.card.module-6 {
  border-top: 4px solid violet;
}

.note {
  margin-top: 16px;
  padding: 12px 16px;
  background: rgba(34, 197, 94, 0.08);
  border-left: 4px solid #22c55e;
  border-radius: 8px;
  font-size: 14px;
}

.note::before {
  content: "☠️";
}

/* Group 1 Styles */
.header {
  background-color: rgb(195, 222, 246);
  box-shadow: 5px 5px 15px rgb(94, 240, 250);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-text-link {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-text-link li {
  margin: 15px 0;
  transition: transform 0.3s ease;
}

.btn-text-link li:hover {
  transform: translateY(-10px);
}

.btn-text-link a {
  /* background-color: rgb(183, 11, 11); */
  background: linear-gradient(135deg, rgb(85, 144, 255), rgb(34, 0, 227) (0, 255, 21));
  box-shadow: 0 4px 15px rgb(117, 117, 117);
  padding: 13px 20px;
  border-radius: 50%;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.5 rem;
}

.btn-text-link a:hover {
  background: linear-gradient(135deg, rgb(253, 1, 1), rgb(152, 13, 13) (0, 255, 21));
}

/* Group 2 Styles */
.image-small {
  width: 100px;
  height: auto;
}

.position {
  display: flex;
  bottom: 2px dashed rgb(163, 163, 163);
  margin: 20px 0;
  align-items: center;

}

.position.left {justify-content: flex-start;}
.position.center {justify-content: center;}
.position.right {justify-content: flex-end;}

/* Group 3 Styles */

.img-fixed {
  width: 260px;
  height: 160px;
  object-fit: cover;

  margin: 15px 0;
  border: 2px solid rgb(0, 0, 0);

}

/* Group 4 Styles */

.obj-fit-image {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

.obj-fit-image.contain {
  object-fit: contain;
}

.obj-fit-image.fill {
  object-fit: fill;
}

.obj-fit-image.cover {
  object-fit: cover;
}

/* Group 5 Styles */
.YT-img img {
  transition: 0.3 ease;
  width: 200px;
  height: auto;
  margin: 15px 0;
  border-radius: 20px;
}

.YT-img img:hover {
  transform: scale(1.05);
}

/* Group 6 Styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  margin-top: 15px;
}

.gallery img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

/* Group 7 Styles */
img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

/* Group 8 Styles */
figure {
  margin-top: 20px;
  text-align: center;
}

/* Group 9 Styles */
.local-image {
  background-image: url("../images/sky.jpg");
  background-size: cover;
}

/* Group 10 Styles */
.back-link {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #2f00ff;
  font-weight: bold;

  background-color: #f1f1f1;
  padding: 10px 15px;
  teborder-radius: 8px;
  text-align: center; 
}

.back-link:hover {
  text-decoration: none;
  color: rgb(255, 0, 0);
}